.centered-container{
    display: flex;
    justify-content: center;
}

.centered{
    position: relative; 
    height:fit-content;
    top: 0;
    margin: auto;
    width: auto;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: relative;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

body {
    font-family: 'Andale Mono', monospace;
    background: #e4f2f2;
}

p {
    font-family: 'Andale Mono', monospace;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a, a:hover, a:focus {
    color: inherit; /* inherit or white ??? */
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.navigation{
    background-color: #6666cc;
    position: inherit;
}

.navbar{
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#main-title{
    color: white;
}

.form-container{
    width: 25em;
}


.embed{
    width: 100%;
    height: auto;  
    border: 1px solid black;
    background-color: #D3D3D3;
}

.embed > .h1.h2.h3.h4.h5.h6{
    padding: 0;
    margin: 0;
}

label {
    display: inline;
    width: 140px;
    text-align: left;
}​

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #8F9494;
}
  
/* Style the tab content */
.tabcontent {  
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #D3D3D3;
}

.tabs{
    top: 5rem;
}

.right-side{
    float: right;
    width: 12em;
}

.left-side{
    float: left;
    width: 6em;
}

.foot{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.head{
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display:inline block;
}
 
.page-container {
    position: relative;
    min-height: 100%;
}  

.centered-preview{
    position: relative; 
    height: fit-content;
    top: 0;
    left: 10rem;
    width: 20%;
}

#github-icon{
    border-radius: 50%;
    width: 115px;
}

#github-icon:hover{
    box-shadow: 0 0 2px 1px black;
}

.generate-text{
    font-size: 20px;
}

mark.red {
    color:#ff0000;
    background: none;
}

#preview{
    white-space: pre-wrap;
}

.hidden{
    display: none;
}

.gif{
    width: auto;
    position: relative;
    max-width: 100%;
    padding:5%;
}

.service-table{
    position: relative; 
    height:fit-content;
    margin: auto;
    margin-top: 7rem;
    width: auto;
    font-size: 30px;
}

.service-table button{
    background-color: inherit;
    border-style: none;
}

.embed ul{
    padding-right: 2rem;
}