{% extends 'base.html' %}
{% set active_item = 'about' %}

{% block content %}
    
    <div class="centered">
        <br><br>
        <h1>About the project <a href="https://github.com/Darex20"><img id="github-icon" src="https://avatars.githubusercontent.com/u/79168824?v=4" alt="Could not load github icon"></a></h1>
        
        <br>
        <p>This is a simple project made for easier tye.yaml file generation. <br>
            <a href="https://github.com/Darex20/TyeGenerator">This projects github source code. <i class="fa fa-link" aria-hidden="true"></i></a><br>
            <a href="https://github.com/dotnet/tye/blob/main/docs/reference/schema.md#example">More about tye.yaml scheme. <i class="fa fa-external-link" aria-hidden="true"></i></a></p>

        <br>
        <br>
        <div id="readme" class="embed">
            {{ embed | safe}}
        </div>
        <br><br><br>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static',filename='js/about.js') }}"></script>
{% endblock %}