<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TyeGenerator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.slim.min.js') }}"></script>
</head>
<body>

    <nav class="navbar">
        <div class="container-fluid text-center navigation">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span>Toggle Sidebar</span>
            </button>
            <h1 class="head"><a  href="{{ url_for('index')}}">TyeGenerator</a></h1>
        </div>
    </nav>

    <section class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="text-center">Tyebar</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="{% if active_item == 'index' %}active{% endif %}">
                    <a href="{{ url_for('index')}}" data-toggle="collapse" aria-expanded="false"><i class="fa fa-file" aria-hidden="true"></i>  Generate Tye File </a>
                </li>
                <li class="{% if active_item == 'project' %}active{% endif %}">
                    <a href="{{ url_for('project')}}"><i class="fa fa-list" aria-hidden="true"></i> Project services</a>
                </li>
                <li class="{% if active_item == 'commercial' %}active{% endif %}">
                    <a href="{{ url_for('commercial')}}"><i class="fa fa-list" aria-hidden="true"></i>  Commercial services</a>
                </li>
                <li class="{% if active_item == 'about' %}active{% endif %}">
                    <a href="{{ url_for('about')}}"> <i class="fa fa-info-circle" aria-hidden="true"></i>  About</a>
                </li>
            </ul>
        </nav>

        {% block content %}{% endblock %}
    </section>

    <footer class="navigation foot footer">
        <h2 class="text-center">
            <a href="https://github.com/Darex20">My Github Page <i class="fa fa-github fa-4"></i></a></h2>
    </footer>

    <script src="{{ url_for('static',filename='js/common.js') }}"></script>
    {% block javascript %}
        <script></script>
    {% endblock %}
    
</body>
</html>