{% extends 'base.html' %}
{% set active_item = 'index' %}

{% block content %}


    <div class="centered-preview">
            <br><br>
            <h2>Preview</h2>
            <br><br>
            <div id="preview" class="embed">
                {{ html | safe }}
            </div>
            <br><br>
            <div id="output" style="display: none;">
                {{ outputFile | safe }}
            </div>

            <button class="btn btn-dark left-side" onclick="goBack()">Back</button>
            <button onclick="download('{{ configName }}')" type="button" class="btn btn-dark right-side"><nobr>
                <i class="fa fa-download" aria-hidden="true"></i> Generate my file.</nobr></button>
    </div>
    
    <br><br>


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static',filename='js/preview.js') }}"></script>
{% endblock %}