{% extends 'base.html' %}
{% set active_item = 'index' %}

{% block content %}

    <div class="centered">
            <br><br>
            <div class="tab">
                {% set check = 'true' %}
                {% for elem in services %}
                    {% set displayName = elem['displayName'] %}
                    {% set rootName = elem['rootName'] %}
                    {% if check == 'true'%}
                        <button class="tablinks" onclick="openTab(event, '{{ rootName }}' )" id="defaultOpen">{{ displayName }} </button>
                        {% set check = 'false' %}
                    {% else %}
                        <button class="tablinks" onclick="openTab(event, '{{ rootName }}')">{{ displayName }} </button>
                    {% endif %}
                {% endfor %}
            </div>

        <form action="{{ url_for('select')}}" method="POST">

            {% for service in services %}
                <div id="{{ service['rootName'] }}" class="tabcontent">
                    <br><br><br>
                    
                    <h4> Services </h4>
                    <br>
                    {% for property in service["properties"] %}
                        {% if property == "name" %}
                            <ul>
                                <label for="cname"><nobr>{{ property }}  ({{ service["properties"][property]["type"] }}) <mark class="red">(required)</mark></nobr></label>  
                                <input value="{{ service['properties'][property]['value'] }}" type="text" id="{{ service['rootName'] ~ '_' ~ property }}" name="{{ service['rootName'] ~ '_' ~ property }}" required>
                            </ul>
                        {% elif service["properties"][property]["type"] == "String" or service["properties"][property]["type"] == "String[]" %}
                            <ul>
                                <label for="cname"><nobr>{{ property }} ({{ service["properties"][property]["type"] }})</nobr></label>  
                                <input value="{{ service['properties'][property]['value'] }}" type="text" id="{{ service['rootName'] ~ '_' ~ property }}" name="{{ service['rootName'] ~ '_' ~ property }}">
                            </ul>
                        {% elif service["properties"][property]["type"] == "bool" %}
                            <ul>
                                <label for="cname"><nobr>{{ property }} ({{ service["properties"][property]["type"] }})</nobr></label>  
                                <input value="{{ service['properties'][property]['value'] }}" type="checkbox" id="{{ service['rootName'] ~ '_' ~ property }}" name="{{ service['rootName'] ~ '_' ~ property }}">
                            </ul>
                        {% elif service["properties"][property]["type"] == "int" %}
                            <ul>
                                <label for="cname"><nobr>{{ property }} ({{ service["properties"][property]["type"] }})</nobr></label>  
                                <input value="{{ service['properties'][property]['value'] }}" type="number" id="{{ service['rootName'] ~ '_' ~ property }}" name="{{ service['rootName'] ~ '_' ~ property }}">
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

            <br>
            <p style="font-size: small;"> (Type String[] should be written using ';' delimiter (e.g. SOME_KEY=SOME_VALUE;SOME_KEY2="SOME VALUE";SOME_KEY3)  </p>
            <br>

            <div class="embed">
                <h4> Root Properties </h4>
                <br>
                <div>
                    {% for property in rootProperties %}
                        {% if property == "name" %}
                            <ul>
                                <label for="name" id="name" >Configuration name<mark class="red">(required)</mark></label>
                                <input type="text" name="name" required>                                
                            </ul>
                        {% else %}
                            <ul>
                                <label for="cname"><nobr>{{ property }}  ({{ rootProperties[property] }})</nobr></label>  
                                <input type="text" id="{{ property }}" name="{{ property }}">
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br><br><br>

            <div>
                <a href="{{ url_for('index') }}" class="btn btn-dark left-side">Back</a>
                <button type="submit" class="btn btn-dark right-side">Show Preview <i class="fa fa-file-text-o" aria-hidden="true"></i></button>
            </div>

        </form>
        <br><br><br>

    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static',filename='js/select.js') }}"></script>
{% endblock %}