{% extends 'base.html' %}
{% set active_item = 'index' %}

{% block content %}

    <div class="centered">
            <br><br>
            <div class="tab">
                {% set check = 'true' %}
                {% for elem in services %}
                    {% if check == 'true'%}
                        <button class="tablinks" onclick="openTab(event, '{{ elem }}' )" id="defaultOpen">{{ elem }} </button>
                        {% set check = 'false' %}
                    {% else %}
                        <button class="tablinks" onclick="openTab(event, '{{ elem }}')">{{ elem }} </button>
                    {% endif %}
                {% endfor %}
            </div>

        <form action="{{ url_for('select')}}" method="POST">

            {% for service in services %}
                <div id="{{ service }}" class="tabcontent">
                    <br><br><br>
                    
                    <h4> Services </h4>
                    {% for key, value in properties.items() %}
                        {% if key == "name" %}
                            <ul>
                                <label for="cname"><nobr>{{ key }}  ({{ value }}) <mark class="red">(required)</mark></nobr></label>  
                                <input type="text" id="{{ service ~ '_' ~ key }}" name="{{ service ~ '_' ~ key }}" required>
                            </ul>
                        {% elif value == "String" or value == "String[]" %}
                            <ul>
                                <label for="cname"><nobr>{{ key }} ({{ value }})</nobr></label>  
                                <input type="text" id="{{ service ~ '_' ~ key }}" name="{{ service ~ '_' ~ key }}">
                            </ul>
                        {% elif value == "bool" %}
                            <ul>
                                <label for="cname"><nobr>{{ key }} ({{ value }})</nobr></label>  
                                <input type="checkbox" id="{{ service ~ '_' ~ key }}" name="{{ service ~ '_' ~ key }}">
                            </ul>
                        {% elif value == "int" %}
                            <ul>
                                <label for="cname"><nobr>{{ key }} ({{ value }})</nobr></label>  
                                <input type="number" id="{{ service ~ '_' ~ key }}" name="{{ service ~ '_' ~ key }}">
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

            <br>
            <p style="font-size: small;"> (Type String[] should be written using ';' delimiter (e.g. SOME_KEY=SOME_VALUE;SOME_KEY2="SOME VALUE";SOME_KEY3)  </p>
            <br>

            <div class="embed">
                <h4> Root Properties </h4>
                <br>
                <div>
                    {% for key, value in rootProperties.items() %}
                        {% if key == "name" %}
                            <ul>
                                <label for="name" id="name" >Configuration name<mark class="red">(required)</mark></label>
                                <input type="text" name="name"  required>                                
                            </ul>
                        {% else %}
                            <ul>
                                <label for="cname"><nobr>{{ key }}  ({{ value }})</nobr></label>  
                                <input type="text" id="{{ key }}" name="{{ key }}">
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br><br><br>

            <div>
                <a href="{{ url_for('index') }}" class="btn btn-dark left-side">Back</a>
                <button type="submit" class="btn btn-dark right-side">Show Preview <i class="fa fa-file-text-o" aria-hidden="true"></i></button>
            </div>

        </form>
        <br><br><br>

    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static',filename='js/select.js') }}"></script>
{% endblock %}